# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.err
*.i
PIC/Include/alarm.h
PIC/Include/device.h
PIC/Include/even_man.h
PIC/Include/int_man.h
PIC/Include/pro_man.h
PIC/Kernel/PICos18.c
PIC/Kernel/PICos18i.c
PIC/Kernel/PICos18iz.c
PIC/Kernel/alarm.c
PIC/Kernel/even_man.c
PIC/Kernel/int_man.c
PIC/Kernel/kernel.asm
PIC/Kernel/pro_man.c
PIC/Linker/18f26j50.lkr
PIC/TiltDetector.X/build/default/production/_ext/1472/int.o.d
PIC/TiltDetector.X/build/default/production/_ext/1472/main.o.d
PIC/TiltDetector.X/build/default/production/_ext/1472/taskdesc.o.d
PIC/TiltDetector.X/build/default/production/_ext/1472/tsk_task_Main.o.d
PIC/TiltDetector.X/build/default/production/_ext/1966662772/int_man.o.d
PIC/TiltDetector.X/build/default/production/_ext/239857660/drv_i2c.o.d
PIC/TiltDetector.X/build/default/production/_ext/239857660/drv_rs.o.d
PIC/TiltDetector.X/build/default/production/_ext/299869866/FXLS8471Q.o.d
PIC/TiltDetector.X/dist/default/production/TiltDetector.X.production.cof
PIC/TiltDetector.X/dist/default/production/TiltDetector.X.production.map
PIC/TiltDetector.X/build/default/debug/_ext/1472/int.o.d
PIC/TiltDetector.X/build/default/debug/_ext/1472/main.o.d
PIC/TiltDetector.X/build/default/debug/_ext/1472/taskdesc.o.d
PIC/TiltDetector.X/build/default/debug/_ext/1472/tsk_task_Main.o.d
PIC/TiltDetector.X/build/default/debug/_ext/1966662772/int_man.o.d
PIC/TiltDetector.X/build/default/debug/_ext/239857660/drv_i2c.o.d
PIC/TiltDetector.X/build/default/debug/_ext/239857660/drv_rs.o.d
PIC/TiltDetector.X/build/default/debug/_ext/299869866/FXLS8471Q.o.d
PIC/TiltDetector.X/dist/default/debug/TiltDetector.X.debug.cof
PIC/TiltDetector.X/dist/default/debug/TiltDetector.X.debug.map
